<%- include('../layout', { body: `
  <section class="container">
    <h1>Owner Dashboard</h1>
    <ul>
      <li><a href="/owner/listings">My Listings</a></li>
      <li><a href="/owner/listings/new">Add Listing</a></li>
      <li><a href="/owner/messages">Messages</a></li>
    </ul>
  </section>
` }) %>
