<%- include('../layout', { body: `
  <section class="container">
    <h1>Tenant Dashboard</h1>
    <ul>
      <li><a href="/listings">Browse Listings</a></li>
      <li><a href="/tenant/favorites">Favorites</a></li>
      <li><a href="/tenant/messages">Messages</a></li>
    </ul>
  </section>
` }) %>
