<!doctype html>
<html lang="en">
  <%- include('partials/_head') %>
  <body class="container">
    <%- include('partials/_header') %>
    <main>
      <%- body %>
    </main>
    <%- include('partials/_footer') %>
  </body>
</html>
